.btn-container{
font-size: 0;
}


.tasks{
border: none;
background-color: yellowgreen;
color: white;
display: inline;
padding: 10px;
border-radius: 10px;
}

.left{
    background-color: rgb(254, 6, 238);
    color: white;
    margin-right: 0;
    display: inline;
    padding: 10px;
    border-radius:50px;
    border: 1px solid rgb(67, 66, 66);

}

.right{
    background-color: rgb(72, 255, 0);
    color: white;
    display: inline;
    margin-left: 0;
    padding: 10px;
    border-radius:50px ;
    border: 1px solid rgb(68, 68, 68);
}